body
{
    color:#0c2d69;
    background-color: #c3d4f0;
}

.menu button
{
    box-shadow: 0px 0px 4px 1px rgba(143,155,175,0.5);
    border:none;
    background-color: white;
}

.current_quote
{
    border-radius: 0.2rem;
    background-color: white;
    margin: 0.5rem;
    box-shadow: 0px 0px 4px 1px rgba(143,155,175,0.5);
    width: calc(100% - 1.6rem);
}