
body
{
    color:#514514;
    background-image:url(img/desert_bground);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

button
{
    color:#514514;
    border:none;
    box-shadow: 0px 0px 12px 1px rgba(167,131,100,0.6);
}

.menu button
{
    border:none;
}

.quote_wrapper
{
    background-color: white;
    color:#514514;
}

.pinned_quotes button,
.share_options button
{
    border: none;
    box-shadow: none;
    background: transparent;
}

.share_options
{
    background: rgba(167,131,100,0.5);
}

.share_options div
{
    background-color: white;
    box-shadow: 0px 0px 12px 1px rgba(167,131,100,0.6);
}

.share_options div .close
{
    background-color:white;
}

.spinner div > div
{
    box-shadow: 2px 2px 0 1px rgba(81,69,20,1);
}

@media screen and (min-width: 800px) 
{
    .current_quote
    {
        background-color: white;
    }

    .quote_wrapper
    {
        background-color: transparent; 
    }

    .menu
    {  
        background-color: white;
    }
    
    .spinner div > div
    {
        box-shadow: 2px 2px 0 1px rgba(255,255,255,1);
    }
}

@media screen and (orientation:landscape) and (min-width: 1000px) 
{
    .current_quote
    {
       background-attachment: fixed;
       background: linear-gradient(
            to right,
            rgba(255,255,255, 1),
            rgba(255,255,255, 0)
          );
    }
}





