html, *
{
    box-sizing: border-box;
    font-size: 25px;
    margin: 0;
    padding:0;
}

body
{
    font-family: 'Prata', serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* buttons */

button
{
    background: transparent;
    border: none;
    cursor: pointer;
    transition: font-size 150ms ease;
    color:#0c2d69;
}

button:active,
button:hover
{
    font-size: 1.2rem;
}

button:focus
{
    outline-width: 0;
}

/* current qoute */

.current_quote
{
    position: relative;
    min-height: 52vh;
    text-align: center; 
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.quote_wrapper
{
    text-align: left;
    max-width: 950px;
    font-size:1.1rem;
    padding: 2rem 2rem 3rem 2rem;
    animation: renderQuote 600ms cubic-bezier(.05,.62,.52,1.23);
}

.current_quote .author
{
    text-align: right;
    margin-top: 0.5rem;
}

.current_quote button
{
    position: absolute;
    bottom: -1.5rem;
    left: 0.5rem;
}

.current_quote button + button
{
    left: 1.7rem;
}

/* menu */

.menu
{
    height: 2rem;
    margin: 0 0 2.5rem 0;
    padding: 0 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top:-1rem;
}

.menu button
{
    margin: 0 0.5rem 0 0;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border:solid 1px;
    background-color: white;
}

.menu button + button + button + button
{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;   
}

/* pinned quotes */

.pinned_quotes
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
    padding-bottom: 3rem;
    -webkit-overflow-scrolling: touch;
    /* display: none; */
}

-webkit-scrollbar {
    display: none;
}

.pinned_quotes > div
{
    border-radius: 0.2rem;
    height: auto;
    border:solid 1px;
    margin: 0 0.5rem 0 0.5rem;
    text-align: left;
    padding: 0.6rem 1rem 0.6rem 1rem;
    position: relative;
    flex: 0 0 85%;
    max-width: 500px;
}

.pinned_quotes > div .quote, 
.pinned_quotes > div .author
{
    font-size: 0.8rem;
}

.pinned_quotes > div .author
{
    text-align: right;
    margin-top: 0.6rem;
}

.pinned_quotes > div button
{
    position: absolute;
    bottom: -1.5rem;
    left: 0.5rem;
}

.pinned_quotes > div button + button
{
    left: 1.7rem;
}

/* sharing options */

.share_options
{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3; 
    display: flex;
    align-items: center;
    justify-content: center; 
    display: none;
}

.share_options div
{
    border-radius: 0.2rem;
    z-index: 4;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 1.2rem 2.2rem 1.2rem 2.2rem;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.share_options div button
{
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    transition: margin 100ms ease-in;
}

.share_options div button:hover
{
    font-size: 1rem; 
    margin: 0.5rem 0.4rem 0.5rem 0;
}

.share_options div .close
{
    position: absolute;
    margin: 0;
    top:-0.8rem;
    left: -0.8rem;
    height: 1.6rem;
    width: 1.6rem;
    border:solid 1px;
    border-radius: 0.8rem;
    transition: font-size 100ms ease-in;
}

.share_options div .close:hover
{
    margin: 0;
    font-size: 1.2rem;
}

/* spinner */

.spinner
{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 20%;
    right: 25%;
    z-index: 1;
    animation: spinner 20s linear infinite;
    display: none;
}

.spinner div
{
    position: absolute;
    width: 40%;
    height: 40%;
    max-width:5rem;
    max-height:5rem;
    top: 50%;
    right: 50%;
    border-radius:50%;
    border-left: solid 2px;
    transform-origin: top right;
}

.spinner div > div
{
    height: 50%;
    background: transparent;
    border-left: none;
    animation: spinner 5s linear reverse infinite;
}

.spinner div + div
{
    transform: rotate(51.5deg);
} 

.spinner div + div + div
{
    transform: rotate(103deg);
} 

.spinner div + div + div + div
{
    transform: rotate(154.5deg);
}

.spinner div + div + div + div + div
{
    transform: rotate(206deg);
}

.spinner div + div + div + div + div + div
{
    transform: rotate(257.5deg);
}

.spinner div + div + div + div + div + div + div
{
    transform: rotate(309deg);
}

/* animation trigger classes */

.spinner_show,
.quote_show
{
    display: block;
}

.spinner_hide,
.quote_hide
{
    display: none;
}

/* animations */

@keyframes fadein 
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadeout 
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}

@keyframes spinner
{
    0%
    {
        transform: rotate(-130deg);  
    }
    100%
    {
        transform: rotate(230deg);  
    }
}

@keyframes spinner_wide
{
    0%
    {
        transform: rotate(0deg);  
    }
    100%
    {
        transform: rotate(360deg);  
    }
}

@keyframes renderQuote
{
    from
    {
        transform: translate3d(0, -100%, 0);
    }
    to
    {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes renderQuoteWide
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@media screen and (orientation:landscape) 
{ 
    .current_quote
    {
        min-height: 38vh;
    }
}

@media screen and (min-width: 800px) 
{
    .menu
    {
        padding: 0 30% 0 30%; 
    }

    .current_quote
    {
        margin-top: 1rem;
    }

    .quote_wrapper
    {
        width: 950px;
        border-radius: 0.2rem;
        min-height: 38vh;
        animation: renderQuoteWide 650ms cubic-bezier(.75,.25,.63,.95);
    } 

    .spinner div
    {
        visibility: hidden;
    }

    .spinner div > div
    {
        visibility: visible;
    }

    .share_options div
    {
        flex-flow: row;
        width: 60%;
        max-width: 550px;
        margin-top: 2rem;
    }
    
    .share_options div button
    {
        margin: 0.2rem;
    }
    
    .share_options div button:hover
    { 
        margin: 0 0.2rem 0.4rem 0.2rem;
    }
}






